@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none !important;
}

.bg-container {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: gray;
    font-size: 78px;
    margin-bottom: 60px;
}

.links {
    color: white;
    background-color: orangered;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.students-box{
    background-color: white;
    border: 1px solid #ccc;
    margin: 15px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    padding: 2px;
}
 
.getpage-container {
    display: flex;
    height: 100vh;
    background-color: blanchedalmond;
}

.left-content {
    height: 100%;
    width: 30vw;
}

.right-content {
    height: 100vh;
    width: 70vw;
    overflow-y: auto;
    position: relative;
}

.post-page {
    background-color: blanchedalmond;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.containers {
    height: 100vh;
    background-color: burlywood;
}

input[type="submit"] {
    margin: 5px 0px 0px 150px;
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
}